
/* Large screens */

@media (max-width: 2560px){
}

@media (max-width: 1920px){
}

@media (max-width: 1536px){
}

/* Medium screens */

@media (max-width: 1440px){
}

@media (max-width: 1366px){
}

@media (max-width: 1199px){
}

@media (max-width: 1024px){
    header .navbar-light .navbar-nav .nav-link{
        font-size: 1rem;
        padding: 7px 25px;
    }
    .services ul{
        flex-wrap: wrap;
    }
    .services ul li{
        padding: 15px;
        width: calc(100%/3 - 10px);
        margin-bottom: 10px;
        min-height: 219px;
    }
    .services ul li h3{
        font-size: 1.2rem;
    }
    .services ul li:nth-child(3n){
        margin-right: 0px;
    }
    .home-banner .banner-text h1{
        transform: rotate(0deg) translate(0px);
    }
    .home-banner .banner-text p{
        margin-left: 0px;
    }
    .whatsapp img{
        width: 52px;
    }
    .what-we-do .sec{
        min-height: 556px;
    }
    .lets-talk h2{
        font-size: 4rem;
    }
    footer .contact li a{
        font-size: 1.3rem;
    }
    footer ul li a{
        font-size:1rem;
    }
}

/* tab view */

@media (max-width: 991px){
    .home-banner{
        padding-top: 100px;
    }
    .home-banner .banner-text h1 span{
        font-size: 4rem;
    }
    /* .home-banner .banner-text h1{
        transform: rotate(-90deg) translate(-28px, -165px);
        line-height: 30px;
    } */
    .home-banner .banner-text h1 span{
        -webkit-text-fill-color: #ffffff;
    }
    .home-banner form textarea {
        height: 75px;
    }
    .home-banner form input[type="submit"]{
        margin-top: 0px;
    }
    .services{
        padding-bottom: 0px;
    }
    .services ul{
        flex-wrap: wrap;
    }
    .services ul li{
        width: calc(100%/3 - 10px);
        margin-bottom: 15px;
        min-height: 240px;
    }
    .services ul li h3{
        font-size: 1.2rem;
    }
    .services ul li:nth-child(3n){
        margin-right: 0px;
    }
    .heading p{
        font-size: 1.3rem;
    }
    .how-it-work p, .what-we-do .sec p{
        font-size: 1.2rem;
        margin-bottom: 0px;
    }
    .how-it-work h4{
        font-size: 1.3rem;
    }
    .what-we-do .sec{
        padding: 30px 15px;
        min-height: 460px;
    }
    .what-we-do h3, .app-development .heading p, .list li h5{
        font-size: 1.3rem;
    }
    .what-we-do span{
        min-height: 60px;
    }
    .adventage p{
        font-size: 1.2rem;
    }
    .list{
        margin-top: 0px;
    }
    .lets-talk h2{
        font-size: 3rem;
    }
    .lets-talk::after{
        background-size: contain;
    }
    footer{
        padding-top: 30px;
    }
    footer .contact li{
        padding: 15px 15px;
    }
    footer .contact li a{
        font-size: 1.5rem;
    }
    header{
        background: none;
    }
    .navbar-nav{
        background-color: rgba(255, 255, 255, 0.9);
    }
    /* about us */
    .about-banner .banner-text .about-img{
        max-width: 50%;
        width: 100%;
    }
    .about-banner .banner-text h1{
        font-size: 4rem;
    }
    .about-banner .banner-text h2{
        font-size: 3rem;
    }
    .about-banner{
        min-height: 670px;
    }
    /* it solution */
    .it-solution-banner{
        min-height: 510px;
    }
    .pricing .sec{
        margin-bottom: 10px;
    }
    .inner-banner .banner-text h1{
        font-size: 4rem;
    }
    .inner-banner .banner-text p{
        font-size: 1.2rem;
    }
    .it-solution-banner {
        min-height: 410px;
    }
    
    .navbar-toggler-icon{
        background: #2168c3;
        height: 2px;
        position: relative;
        background-image: none !important;
        width: 20px;
        float: left;
    }
    .navbar-light .navbar-toggler::before{
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #2168c3;
        top: 8px;
        left: 6px;
    }
    .navbar-light .navbar-toggler:after{
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #2168c3;
        bottom: 8px;
        left: 6px;
    }
    .navbar-light .navbar-toggler{
        border: 0px;
        box-shadow: 0px 0px 0px;
        padding: 0px;
        position: relative;
        width: 44px;
        height: 40px;
        background-color: #ffffff;
        padding: 6px;
    }
}

/* mobile view */

@media (max-width: 767px){
    .home-banner .banner-text h1{
        transform: rotate(0deg) translate(0px, 0px);
    }
    .home-banner .banner-text p{
        margin-left: 0px;
        box-decoration-break: clone;
        background-color: #1f69c8;
        line-height: 1.8;
        display: inline;
    }
    .home-banner .banner-text h1 span{
        width: auto;
        font-size: inherit;
    }
    .home-banner .banner-text h1{
        font-size:3rem;
        text-transform: uppercase;
        font-weight: 800;
        background-color: #1f69c8;
        display: inline-block;
        padding: 0px 5px;
        border-radius: 5px;
    }
    .home-banner{
        padding-top: 120px;
    }
    .heading h2{
        font-size: 2rem;
    }
    .col-heading{
        font-size: 1.5rem;
    }
    .services ul li{
        width: calc(100%/3 - 10px);
    }
    .how-it-work .col-lg-3 > div{
        margin-bottom: 15px;
    }
    .what-we-do .sec{
        min-height: 393px;
    }
    .adventage ul{
        flex-wrap: wrap;
    }
    .adventage ul li{
        flex: 0 0 50%;
    }
    .list{
        width: 100%;
    }
    .about-banner .banner-text h1{
        font-size: 3rem;
    }
    .about-banner .banner-text .about-img{
        position: relative;
        transform: translate(0px);
    }
    .about-banner .banner-text h2 br{
        display: none;
    }
    .about-banner .banner-text h2{
        font-size: 2.5rem;
        padding-bottom: 5px;
    }
    .about-banner .banner-text p{
        width: 100%;
        text-align: left;
    }
    .about-banner .banner-text h2::after{
        left: 0px;
    }
    .about-banner .banner-text{
        padding-top: 26%;
    }
    .revenew .text-outline{
        font-size: 5rem;
    }
    .what-we-do .heading h2 span{
        min-height: inherit;
    }
    .how-it-work{
        padding-bottom: 0px;
    }
    .inner-banner .banner-text h1{
        font-size: 3rem;
    }
    .inner-banner .banner-text{
        top: 36%;
    }
    .inner-banner.contact-banner::after{
        display: none;
    }
    .inner-banner.contact-banner .info ul{
        width: 100%;
    }
    .inner-banner.contact-banner .info h3{
        position: relative;
        right: inherit;
        left: 0px;
        top: 0px;
        text-align: left;
    }
    .inner-banner.contact-banner .whatsapp{
        right: 36px;
        bottom: 20px;
    }
    .contact-banner h1{
        margin-bottom: 20px;
    }
    .contact-banner{
        padding-top: 17%;
    }
}

@media (max-width: 575px){
    .heading{
        margin-bottom: 20px;
    }
    .services ul li{
        width: calc(100%/2 - 10px);
        padding: 15px;
        margin-right: 10px;
    }
    .services ul li:nth-child(2n){
        margin-right: 0px;
    }
    .services ul li:nth-child(3n){
        margin-right: 10px;
    }
    footer .contact li a {
        font-size: 1.2rem;
    }
    .app-development{
        padding-bottom: 0px;
    }
    .lets-talk h2{
        font-size: 2rem;
    }
    .what-we-do .sec {
        min-height: 300px;
    }
    .whatsapp img{
        width: 50px;
    }
    .whatsapp{
        bottom: -30px;
    }
    .home-banner .banner-text h1{
        line-height: 40px;
        font-size: 2.3rem;
    }
    .home-banner .banner-text h1 span{
        font-weight: inherit;
    }
    .home-banner .banner-text p{
        font-size: 1.1rem;
        line-height: 1;
    }
    .inner-banner .banner-text h1{
        font-size: 2.5rem;
    }
    .inner-banner.it-solution-banner.digital-marketing{
        background-position: center center;
    }
    .inner-banner .banner-text{
        top: 30%;
    }
    .contact-banner{
        padding-top: 30%;
    }
    .inner-banner.contact-banner .info ul li a, .inner-banner.contact-banner .info ul li p{
        font-size: 1.2rem;
    }
}

@media (max-width: 414px){
    .services ul li{
        width: calc(100%/1 - 0px);
        margin-right: 0px;
    }
    .services ul li:nth-child(3n){
        margin-right: 0px;
    }
    footer .contact li{
        width: 100%;
        padding: 15px 5px;
    }
    footer ul li a{
        margin-bottom: 10px;
    }
    .home-banner .banner-text h1{
        font-size: 2rem;
    }
    .home-banner .banner-text h1 span{
        font-weight: inherit;
    }
    .home-banner .banner-text p{
        font-size: 1.1rem;
        line-height: 1;
    }
    .services ul li{
        min-height: 210px;
    }
    .inner-banner .banner-text h1 {
        font-size: 2rem;
    }
    .lets-talk-btn{
        font-size: 1.2rem;
        padding: 10px 30px;
        bottom: -24px
    }
    .big-text{
        font-size: 1.5rem;
    }
    .inner-banner .banner-text p {
        font-size: 1rem;
    }
    .it-solution-banner{
        min-height: 320px;
    }
    .inner-banner .banner-text{
        top: 40%;
    }
}

@media (max-width: 375px){
    footer .contact li a {
        font-size: 0.9rem;
    }
    footer .contact li img{
        width: 18px;
    }
    .adventage ul li{
        padding: 0px;
        flex: 0 0 60%;
    }
    .adventage p{
        font-size: 1rem;
    }
    .adventage ul{
        padding-left: 10px;
    }
    .adventage ul li:nth-child(2n), .adventage ul li:nth-child(4n){
        flex: 0 0 40%;
    }
    .home-banner .banner-text h1{
        font-size: 1.8rem;
    }
    .home-banner .banner-text p{
        font-size: 1rem;
        line-height: 1;
    }
    .inner-banner .banner-text h1{
        font-size: 1.8rem;
    }
    .inner-banner .banner-text{
        top: 38%;
    }
    .col-heading{
        font-size: 1.2rem;
    }
}

@media (max-width: 320px){
    footer .contact li a {
        font-size: 0.8rem;
    }
    .adventage ul li{
        flex: 0 0 100%;
    }
    .adventage ul li:nth-child(2n), .adventage ul li:nth-child(4n){
        flex: 0 0 100%;
    }
}